@import url("base.css");
@import url("components/header.css");
@import url("components/account_form.css");

/* Slogan */

#slogan
{
	text-align: center;

	margin: 2em 0;
}

#slogan h2
{
	margin: 0;

	color: var(--white);
	font-size: 2em;
	font-style: italic;
	font-weight: 60;
}

#slogan hr
{
	width: 90%;

	margin-top: 2em;

	border: 1px solid var(--sub-background);
}

/* Feed */

#feed
{
	gap: 1em;
	display: flex;

	padding: 0 1em;
}

/* Filtro */
#filter
{
	width: fit-content;
	flex: 1 1 0px;
	
	background-color: var(--sub-background);
}

#filter-wrapper
{
	gap: .5em;
	display: flex;
	flex-direction: column;

	padding: 1em;
}

#filter-wrapper h3
{
	margin: 0;

	color: var(--white);
	font-size: 1.25em;
}

.filter-container
{
	padding: 0 0 0 1em;

	border: unset;
}

.filter-item
{
	gap: .25em;
	display: flex;
	align-items: center;

	color: var(--white);
	font-size: 1.2em;
}

.filter-item input
{
	cursor: pointer;
	width: 1em;
	height: 1em;
	appearance: none;

	padding: .1em;
}

.filter-item input
{
	border: 2px solid var(--background);
	background-color: transparent;
}

.filter-item input:checked::after
{
	content: "";
	width: 100%;
	height: 100%;
	display: block;

	background-color: var(--background);
}

.filter-item input[type="radio"],
.filter-item input[type="radio"]:checked::after
{
	border-radius: 100%;
}

.filter-item input:disabled
{
	opacity: .5;
}

.filter-item label
{
	cursor: pointer;
}

.filter-item input:disabled + label
{
	opacity: .5;
	font-style: italic;
	font-weight: 90;
}

/* Posts */
main
{
	gap: 2em;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}

.post
{
	cursor: pointer;
	gap: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 1em;

	background-color: var(--sub-background);
	transition: linear .15s;
	transform-origin: top center;
}

.post:hover
{
	margin-right: 4em;

	transform: rotate(-15deg);
}

.post-img
{
	width: 300px;
	aspect-ratio: 1 / 1;
	object-fit: contain;

	background-color: var(--background);
}

.post-bottom
{
	gap: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: var(--white);
}

a:link
{
	text-decoration: none;
}

.post-title
{
	font-size: 1.25em;

	margin: 0;
}

.post-stars
{
	gap: .25em;
	display: flex;
	align-items: center;
}

.star-number
{
	margin: 0;

	font-size: 1em;
	font-weight: 300;
}

.star-icon
{
	width: 2em;
	height: 2em;
}

/* Responsividade */
@media(max-width: 550px)
{
	#feed
	{
		align-items: stretch;
		flex-direction: column;
	}

	#filter
	{
		width: unset;
	}

	.filter-container
	{
		gap: 1em;
		display: flex;
		flex-wrap: wrap;
	}

	.post:hover
	{
		margin-right: unset;

		transform: unset;
	}

	.post-img
	{
		width: 180px;

		transition: inherit;
	}

	.post:hover .post-img
	{
		width: 200px;
	}

	.post-title
	{
		font-size: 1em;
	}

	.star-number
	{
		font-size: .75em;
	}

	.star-icon
	{
		width: 1em;
		height: 1em;
	}
}