@import url("base.css");
@import url("components/header.css");
@import url("components/account_form.css");

main
{
	gap: 1em;
	display: flex;
	flex-direction: column;

	padding: 1em;

	color: var(--white);
}

#title-wrapper
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#post-title
{
	font-size: 2.5em;
	overflow-wrap: break-word;

	margin: .25em 0;
}

#post-by
{
	font-size: 1.25em;

	color: var(--transwhite);
}

hr
{
	width: 80%;

	margin: .15em auto;

	border: 1px solid var(--transwhite);
}

#post-content
{
	padding: 1em;

	border-radius: 10px;
	background-color: #2F34435C;
}

#post-content *
{
	overflow-wrap: break-word;
}

#post-content h2
{
	font-size: 2em;
	text-align: center;

	margin: .15em 0;
}

#post-content p,
#post-content ul
{
	font-size: 1.3em;
}

#post-content p
{
	margin: .15em 0;
}

#post-content img
{
	display: block;
	max-width: 100%;

	margin: 0 auto;
}

#post-bottom
{
	gap: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 0 1em;
}

#post-stars
{
	gap: 4px;
	display: flex;
}

.star
{
	position: relative;
}

.empty-star,
.full-star
{
	cursor: pointer;
	width: 4em;
}

.full-star
{
	position: absolute;
	top: 0;
	left: 0;
}

#post-edit
{
	cursor: pointer;
	width: 100%;
	font-size: 2.5em;

	padding: .25em .5em;

	color: var(--white);
	border: none;
	background-color: var(--sub-background);
}