@page "/create/{post?}"
@model ReduzYou.Pages.CreateModel
@{
    ViewData["Title"] = "- Criar";
    bool logged = !string.IsNullOrEmpty(HttpContext.Session.GetString("_Id"));
    ReduzYou.Data.Post post = null;

    if (!logged) Response.Redirect("/");
    else
    {
        if (Model.PostId.Length == 0)
        {
            post = DataBase.FindDraft(HttpContext.Session.GetString("_Username"));

            if (post == null) post = new ReduzYou.Data.Post();
        }
    }
}

<div id="image-selector">
    <form id="add-images" method="post" enctype="multipart/form-data">
        <input id="images" name="images" type="file" accept="image/png, image/jpeg" multiple />
    </form>
</div>

@section scripts
{
    <script type="text/javascript" src="/js/create/image_form.js" defer></script>
}