@page
@model ReduzYou.Pages.IndexModel
@{
    ViewData["Title"] = "- Home";
}

<button id="log" type="button">Entrar</button>
<button id="sign" type="button">Cadastrar</button>

@if (string.IsNullOrEmpty(HttpContext.Session.GetString("_Id")))
{
    <form id="account-form" method="post">
        <div id="account-warning"></div>
        <input name="username" type="text" maxlength="32" />
        <input name="password" type="password" maxlength="32" />

        <button type="submit">Cadastrar</button>
    </form>

    <script type="text/javascript" src="/js/account_form.js"></script>
}