@page
@model ReduzYou.Pages.IndexModel
@{
    ViewData["Title"] = "- Home";
    bool logged = !string.IsNullOrEmpty(HttpContext.Session.GetString("_Id"));
}

@section styles
{
    <link rel="stylesheet" href="/css/index.css" />
}

@(await Html.RenderComponentAsync<ReduzYou.Pages.Components.Header>(RenderMode.Static, new { Logged = logged }))

<div id="slogan">
    <p>Reduziu, o problema sumiu.</p>
    <hr />
</div>

<div id="feed">
    <aside>

    </aside>
    <main>

    </main>
</div>

@if (!logged) @(await Html.RenderComponentAsync<ReduzYou.Pages.Components.AccountForm>(RenderMode.Static))

@section scripts
{
    @if (!logged)
    {
        <script type="text/javascript" src="/js/account_form.js" defer></script>
    }
}