@code { }

<form id="account-form" method="post">
    <h1 id="account-form-title"></h1>

    <div id="account-warning" hidden></div>

    <div class="input-label">
        <label for="username">Usuário:</label>
        <input id="username" name="username" type="text" maxlength="32" placeholder="meu_login" />
    </div>

    <div class="input-label">
        <label for="password">Senha:</label>
        <input id="password" name="password" type="password" maxlength="32" placeholder="*******" />
        <div id="account-reverse"></div>
    </div>

    <div id="account-buttons">
        <button class="fill" type="submit">Pronto!</button>
        <button id="account-cancel" type="reset">Cancelar</button>
    </div>
</form>