@code
{
    [Parameter]
    public bool Logged { get; set; }
}

<header>
    <a href="/"><img id="header-logo" src="/img/logo.svg" /></a>

    <div id="header-buttons">
        @if (Logged)
        {
            <button class="header-button fill" type="button" onclick="window.location = '/create'">Criar</button>
            <button class="header-button" type="button" onclick="request('/api/exit_account', 'get', {}, false, () => location.reload())">Sair</button>
        }
        else
        {
            <button class="header-button fill" id="log" type="button">Entrar</button>
            <button class="header-button" id="sign" type="button">Cadastrar</button>
        }
    </div>
</header>
