@code
{
	[Parameter]
	public string Content { get; set; }
}

<div id="post-editor">
	<div id="editor-tools">
		<button type="button" id="ttitle" class="tool">Título</button>
		<button type="button" id="tbold" class="tool">Negrito</button>
		<button type="button" id="titalic" class="tool">Itálico</button>
		<button type="button" id="tlist" class="tool">Lista</button>
		<button type="button" id="timage" class="tool">Imagem</button>
	</div>
	<hr />
	<div id="editor-content" contenteditable="true">@Content</div>
	<span id="counter">0/0</span>
</div>