<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/base.css" />
		<script type="text/javascript" src="/js/request.js"></script>

		<title>ReduzYou @ViewBag.Title</title>
	</head>
	<body>
		@RenderBody()
	</body>
</html>