<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/img/icon.webp" />
		<link rel="stylesheet" href="/css/normalize.css" />
		@RenderSection("styles", false)
		<script type="text/javascript" src="/js/request.js"></script>
		@RenderSection("scripts", false)
		<script>
			const materials = ["Pet", "Papelão", "Papel", "Tecido", "Isopor", "Vidro", "Eletrônicos", "Metal"];
		</script>

		<title>ReduzYou @ViewBag.Title</title>
	</head>
	<body>
		@RenderBody()
	</body>
</html>